header {
	width: 100%;
	height: 610px;
	background: url(img_one/pexels-andrea-piacquadio-3791985.png);
	background-size: cover;
	background-position: center;
	font-family: 'Work Sans', sans-serif;
}
header h1 {
	color: white;
	font-size: 40px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	position: relative;
	top: 130px;
}
header span {
	font-size: 70px;
}

.quo {
	font-size: 15px;
	text-align: center;
	color: white;
	font-family: 'Work Sans', sans-serif;
	position: relative;
	top: 130px;
	margin-left: auto;
    margin-right: auto;
}
.info {
	width: 100%;
	color: white;
	position: relative;
	top: 10px;
	text-align: right;
	right: 30px;
}
.info ul{
	list-style: none;
}
.info li {
	display: inline-block;
	padding: 4px 7px;
	margin-left: 7px;
	border-bottom: 1px solid #fff;
	border-bottom-width: 1.5px;
}
.info a {
	text-decoration: none;
	
	color: white;
}
.info a:hover {
	cursor:pointer;
color: #9D9D9D;
transition: 0.5s;
}
.start {
	width: 135px;
	height: 45px;
	background: #3B35AB;
	color: white;
	text-align: center;
	padding-top: 7px;
	font-size: 19px;
	position: relative;
	top: 140px;
	margin-left: auto;
    margin-right: auto;
	border-radius: 12px 12px 12px 12px;
}

/*new block - start*/
.block_start{
	width: 100%;
	height: 610px;
	background: red;
}